<h2><%= post.title %> Published: <%=post.published %></h2>
<body>
  <%= post.body %>
<ol>
  <b>Comments:</b>
  <% comments.each do |c| %>
  <li><%= c.message %></li>
  <% end %>
</ol>
</body>

<%= form_for(new_comment) do |c| %>
  <%= c.hidden_field :post_id, :value => params[:id] %>
  <%= c.label :comment %>
  <%= c.text_field :message %>

  <%= c.submit %>
<% end %>
